@import url('https://fonts.googleapis.com/css?family=Courier+Prime&display=swap');

.command-header{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    
}

label{
    display: flex;
    align-items: center;
    padding: 3%;
    margin: 1%;
    font-size: x-large;
}


.command{
    display: flex;
    flex-direction: row;
    font-family: 'Courier Prime', monospace;
    padding: 2%;
    margin: 2%;
 
    
}

.order-command{
    display: flex;
    justify-content: center;
    margin:4%;
    padding: 4%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: #f6a3cf;
    border: groove;
    font-size: large;
    
}

.itens-order{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sub-item{   
    margin: 4%;
    border: outset;
    font-size: 106%;
    font-family: 'Courier Prime', monospace;

}

.delete-item{
    margin: 4%;
    border: outset;
    font-size: 106%;
    font-family: 'Courier Prime', monospace;
    
}

.send-order{
    width: 40%;
    padding: 2%;
    margin: 4%;
    border: outset;
    font-size: 130%;
    font-family: 'Courier Prime', monospace;

}

.total{
    font-size: 150%;
}