@import url('https://fonts.googleapis.com/css?family=Courier+Prime&display=swap');

.nav {
    display: flex;
    flex-direction: row;
    padding: 2%;
    font-size: 120%;
 
}
.menu-list{
    display: flex;
}
.menu-list:hover{
    color: blue;
}

.salao{
    display: flex;
    flex-direction: column;
    margin: 10%;
    font-family: 'Courier Prime', monospace;
}

.cozinha{
    display: flex;
    margin: 10%;
    font-family: 'Courier Prime', monospace;
}
.entrega{
    display: flex;
    margin: 10%;
    font-family: 'Courier Prime', monospace;
}