

.container{
    display:flex;
    font-family: 'Lobster', cursive;    
    
}
h1{
    display: flex;
    justify-content: center;
    font-size: 240%;
}
.menu {
    display: flex;
    justify-content: center;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #f2b3bf8a;
    width: 50%;
    padding: 2%;
    align-content: center;
    margin: 2%;
    text-align: center;
    font-size: 23px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.pedido{
    background-color:#f2b3bf8a;
    width: 50%;
    padding: 2%;
    margin: 2%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.init{
    display: flex;
    margin-left: auto;
    width: 20%;
    height: 50%;
}

