@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');


header {
  font-family: 'Lobster', cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  text-shadow: 5px 5px 1px #fbafe3;


}

.name{
  font-size: 400%;
}

.logo {
  width: 16%;
  margin-top: -4%;
}