@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

.nav {
    display: flex;
    justify-content: center;
    padding: 2%;
 
}
.menu-list{
    display: flex;
    justify-content: center;
}


.myButton {
    box-shadow: inset 0px 1px 0px 0px #fbafe3;
    background: linear-gradient(to bottom, #f2b3bf 5%, #ffffff 100%);
    background-color: #f064ae78;
    border-radius: 6px;
    display: inline-block;
    font-family: 'Courier Prime', monospace;
    font-size: 29px;
    font-weight: bold;
    padding: 13px 24px;
    margin: 6%;
}
